* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
  padding: 15px 56px;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header li {
  font-size: 18px;
  font-weight: normal;
  padding-right: 16px;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero {
  background-color: darkgoldenrod;
}

.cards {
  background-color: darkcyan;
}

.content {
  background-color: darkgrey;
}

.footer {
  background-color: darkred;
}