* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  list-style: none;
}

button {
  background-color: #3882F6;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 5px;
  color: #F9FAF8;
  font-weight: 900;
}

img {
  height: 360px;
  width: 640px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: normal;
  padding-right: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgoldenrod;
  padding: 15px 50px;
  color: #E5E7EB;
  font-size: 18px;
}

.heroleft {
  flex: 1;
}

.heroleft h1 {
  font-size: 48px;
  font-weight:bolder;
  color: #F9FAF8;
}

.heroright {
  flex: 1;
}

.cards {
  background-color: darkcyan;
}

.content {
  background-color: darkgrey;
}

.footer {
  background-color: darkred;
}