* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  list-style: none;
}

button {
  background-color: #3882F6;
  border-radius: 5px;
  padding: 8px 25px;
  margin-top: 5px;
  color: #F9FAF8;
  font-weight: 900;
  border: none;
}

img {
  height: 250px;
  width: 444px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: normal;
  padding-right: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgoldenrod;
  padding: 100px 50px;
  color: #E5E7EB;
  font-size: 18px;
}

.heroleft {
  flex: 1;
  padding-right: 30px;
}

.heroleft h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.heroright {
  max-width: 444px;
  flex: 1;
  font-size: 10px;
  text-align: end;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkcyan;
  padding: 50px 50px 100px;
}

.cards h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 50px;
}

.card-container div {
  max-width: 444px;
  font-size: 10px;
  text-align: end;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  padding: 100px 50px;
}

.quotes-container {
  max-width: 850px;
}

.quotes p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quotes footer {
  font-size: 26px;
  font-weight: bold;
  text-align: end;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  padding: 100px 50px;
}

.cta-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 50px 100px;
}

.cta-container h2 {
  color: #F9FAF8;
}

.cta-container p {
  color: #E5E7EB;
}

.cta-container button {
  border: 2px solid #E5E7EB;
}

.footer {
  background-color: darkred;
}